root.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="idtype">
    <xs:restriction base="xs:ID" />
  </xs:simpleType>

  <xs:simpleType name="idreftype">
    <xs:restriction base="xs:IDREF" />
  </xs:simpleType>

  <xs:simpleType name="booleantype">
    <xs:restriction base="xs:boolean" />
  </xs:simpleType>

  <xs:simpleType name="stringtype">
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="regidtype">
    <xs:restriction base="idtype">
      <xs:pattern value="regest_[0-9]+" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="itemidtype">
    <xs:restriction base="idtype">
      <xs:pattern value="item_[0-9]+" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="offset">
    <xs:restriction base="stringtype">
      <xs:enumeration value="vor" />
      <xs:enumeration value="nach" />
      <xs:enumeration value="um" />
      <xs:enumeration value="ca." />
      <xs:enumeration value="kurz nach" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="pages">
    <xs:restriction base="stringtype">
      <xs:pattern value="[1-9][0-9]*f?f?" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="name">
    <xs:restriction base="stringtype" />
  </xs:simpleType>

  <xs:simpleType name="itemtype">
    <xs:restriction base="stringtype">
      <xs:enumeration value="location" />
      <xs:enumeration value="landmark" />
      <xs:enumeration value="person" />
      <xs:enumeration value="family" />
      <xs:enumeration value="persongroup" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="regiontype">
    <xs:restriction base="stringtype">
      <xs:enumeration value="Bundesland" />
      <xs:enumeration value="Departement" />
      <xs:enumeration value="Provinz" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="subitemtype">
    <xs:restriction base="stringtype">
      <xs:enumeration value="person" />
      <xs:enumeration value="other" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="persidtype">
    <xs:restriction base="stringtype">
      <xs:pattern value="person_[0-9]+" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="extendedstringtype" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="footnote" type="stringtype" />
    </xs:choice>
  </xs:complexType>

  <xs:element name="regesten">
    <xs:complexType>
      <xs:sequence>
	<xs:element name="regest" type="regest" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="regest">
    <xs:sequence>
      <xs:element name="date" type="date" />
      <xs:element name="location" type="extendedstringtype" minOccurs="0" />
      <xs:element name="type" type="extendedstringtype" minOccurs="0" />
      <xs:element name="content" type="content" />
      <xs:element name="date-original" type="date-original" />
      <xs:element name="sieglerinfo" type="extendedstringtype" />
      <xs:element name="archives" type="archives" />
      <xs:element name="print" type="extendedstringtype" />
      <xs:element name="translation" type="extendedstringtype" minOccurs="0" />
      <xs:element name="original" type="extendedstringtype" />
      <xs:element name="pages" type="pages" />
    </xs:sequence>
    <xs:attribute name="id" type="regidtype" />
    <xs:attribute name="title" type="stringtype" />
  </xs:complexType>

  <xs:complexType name="date" mixed="true">
    <xs:choice>
      <xs:sequence>
	<xs:sequence>
	  <xs:element name="from" type="datetype" />
	  <xs:element name="offset" type="offset" minOccurs="0" />
	</xs:sequence>
	<xs:sequence>
	  <xs:element name="to" type="datetype" />
	  <xs:element name="offset" type="offset" minOccurs="0" />
	</xs:sequence>
      </xs:sequence>
      <xs:sequence>
	<xs:element name="altDate" type="datetype" minOccurs="0" />
	<xs:element name="offset" type="offset" minOccurs="0" />
      </xs:sequence>
    </xs:choice>
    <xs:attribute name="exact" type="xs:boolean" />
  </xs:complexType>

  <xs:complexType name="content" mixed="true">
    <xs:sequence>
      <xs:element name="aussteller" type="stringtype" minOccurs="0" />
      <xs:choice minOccurs="0" maxOccurs="unbounded">
	<xs:element name="quote" type="quote" />
	<xs:element name="name" type="name" />
	<xs:element name="footnote" type="stringtype" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="date-original">
    <xs:sequence>
      <xs:element name="quote" type="quote" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="archives">
    <xs:sequence>
      <xs:element name="archive" type="extendedstringtype" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="name">
    <xs:simpleContent>
      <xs:extension base="stringtype">
	<xs:attribute name="itemid" type="idreftype" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="quote" mixed="true">
    <xs:complexContent>
      <xs:extension base="extendedstringtype">
	<xs:choice minOccurs="0" maxOccurs="unbounded">
	  <xs:element name="name" type="name" />
	</xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="index">
    <xs:complexType>
      <xs:sequence>
	<xs:element name="item" type="item" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="item">
    <xs:sequence>
      <xs:element ref="item-header" />
      <xs:element ref="item-body" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="id" type="itemidtype" use="required" />
    <xs:attribute name="type" type="itemtype" use="required" />
    <xs:attribute name="value" type="stringtype" use="required" />
  </xs:complexType>

  <xs:element name="item-header" abstract="true" />
  <xs:element name="item-body" abstract="true" />

  <xs:element name="location-header" type="location-header" substitutionGroup="item-header" />
  <xs:element name="landmark-header" type="landmark-header" substitutionGroup="item-header" />
  <xs:element name="person-header" type="person-header" substitutionGroup="item-header" />
  <xs:element name="family-header" type="family-header" substitutionGroup="item-header" />
  <xs:element name="persongroup-header" type="persongroup-header" substitutionGroup="item-header" />

  <xs:element name="concept-body" type="concept-body" substitutionGroup="item-body" />
  <xs:element name="listing-body" type="listing-body" substitutionGroup="item-body" />

  <xs:complexType name="location-header">
    <xs:sequence>
      <xs:element name="placeName" type="placeName" />
      <xs:element name="mentionings" type="mentionings" minOccurs="0" />
      <xs:element name="index-refs" type="index-refs" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="landmark-header">
    <xs:sequence>
      <xs:element name="geogName" type="geogName" />
      <xs:element name="mentionings" type="mentionings" minOccurs="0" />
      <xs:element name="index-refs" type="index-refs" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="person-header">
    <xs:sequence>
      <xs:element name="person" type="person" />
      <xs:element name="mentionings" type="mentionings" />
      <xs:element name="index-refs" type="index-refs" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="family-header">
    <xs:sequence>
      <xs:element name="family-name" type="family-name" />
      <xs:element name="mentionings" type="mentionings" minOccurs="0" />
      <xs:element name="index-refs" type="index-refs" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="persongroup-header">
    <xs:sequence>
      <xs:element name="group-name" type="stringtype" />
      <xs:element name="mentionings" type="mentionings" minOccurs="0" />
      <xs:element name="index-refs" type="index-refs" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="concept-body">
    <xs:sequence>
      <xs:element name="context" type="context" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listing-body">
    <xs:sequence>
      <xs:element name="context" type="listing-context" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="placeName">
    <xs:sequence>
      <xs:element name="addNames" type="addNames" minOccurs="0" />
      <xs:element name="settlement" type="settlement" />
      <xs:element name="reference-point" type="stringtype" minOccurs="0" />
      <xs:element name="district" type="stringtype" minOccurs="0" />
      <xs:element name="region" type="region" minOccurs="0" />
      <xs:element name="country" type="stringtype" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="geogName">
    <xs:sequence>
      <xs:element name="name" type="name" />
      <xs:element name="addNames" type="addNames" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="type" type="stringtype" />
  </xs:complexType>

  <xs:complexType name="person">
    <xs:sequence>
      <xs:element name="persName" type="persName" />
      <xs:element name="person-info" type="infotype" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="id" type="persidtype" use="required" />
    <xs:attribute name="itemid" type="idreftype" />
  </xs:complexType>

  <xs:complexType name="family-name">
    <xs:sequence>
      <xs:element name="name" type="name" />
      <xs:element name="addNames" type="addNames" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="mentionings">
    <xs:sequence>
      <xs:element name="reg-ref" type="reg-ref" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="index-refs">
    <xs:sequence>
      <xs:element name="index-ref" type="index-ref" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="context">
    <xs:sequence>
      <xs:element name="mentionings" type="mentionings" minOccurs="0" />
      <xs:element name="index-refs" type="stringtype" minOccurs="0" />
      <xs:element name="subitem" type="subitem" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="type" type="stringtype" use="required" />
  </xs:complexType>

  <xs:complexType name="listing-context">
    <xs:sequence>
      <xs:element name="person" type="person" />
      <xs:element name="mentionings" type="mentionings" />
      <xs:element name="index-refs" type="stringtype" minOccurs="0" />
      <xs:element name="context" type="context" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="type" type="stringtype" fixed="member" />
  </xs:complexType>

  <xs:complexType name="subitem">
    <xs:sequence>
      <xs:choice minOccurs="0">
	<xs:element name="person" type="person" />
	<xs:element name="other" type="infotype" />
      </xs:choice>
      <xs:element name="mentionings" type="mentionings" minOccurs="0" />
      <xs:element name="index-refs" type="stringtype" minOccurs="0" />
      <xs:element name="context" type="context" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="type" type="subitemtype" use="required" />
  </xs:complexType>

  <xs:complexType name="addNames">
    <xs:sequence>
      <xs:element name="addName" type="name" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="settlement">
    <xs:simpleContent>
      <xs:extension base="stringtype">
	<xs:attribute name="type" type="stringtype" use="required" />
	<xs:attribute name="w" type="booleantype" use="required" />
	<xs:attribute name="w-ref" type="stringtype" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="region">
    <xs:simpleContent>
      <xs:extension base="stringtype">
	<xs:attribute name="type" type="regiontype" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="persName" mixed="true">
    <xs:all>
      <xs:element name="forename" type="name" minOccurs="0" />
      <xs:element name="surname" type="name" minOccurs="0" />
      <xs:element name="maidenname" type="name" minOccurs="0" />
      <xs:element name="genName" type="name" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="reg-ref">
    <xs:simpleContent>
      <xs:extension base="stringtype">
	<xs:attribute name="regest" type="idreftype" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="index-ref">
    <xs:simpleContent>
      <xs:extension base="stringtype">
	<xs:attribute name="itemid" type="idreftype" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="infotype" mixed="true">
    <xs:sequence>
      <xs:element name="o-text" type="stringtype" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>